@model IEnumerable<StatsPortal.Models.SKModel>

@{
    ViewBag.Title = "SK";
}

@Scripts.Render("~/bundles/sk")

<div class="col-lg-6">
    <div class="panel panel-default" role="tablist" id="predicted_gender_tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#predicted_gender_US" role="tab" data-toggle="tab">US</a>
            </li>
            <li class="">
                <a href="#predicted_gender_intl" role="tab" data-toggle="tab">International</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="predicted_gender_US" class="tab-pane fade in active" role="tabpanel"></div>
            <div id="predicted_gender_intl" class="tab-pane fade" role="tabpanel"></div>
        </div>
    </div>
</div>


<div class="col-lg-6">
    <div class="panel panel-default" role="tablist" id="predicted_age_tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#predicted_age_US" role="tab" data-toggle="tab">US</a>
            </li>
            <li class="">
                <a href="#predicted_age_intl" role="tab" data-toggle="tab">International</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="predicted_age_US" class="tab-pane fade in active" role="tabpanel"></div>
            <div id="predicted_age_intl" class="tab-pane fade" role="tabpanel"></div>
        </div>
    </div>
</div>


<div class="col-lg-6">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active">
                <a>US</a>
            </li>
            <li class="">
                <a>International</a>
            </li>
        </ul>
        <div id="nonzero_coefficients"></div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-default" role="tablist" id="assignment_type_distribution_tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#assignment_type_distribution_US" role="tab" data-toggle="tab">US</a>
            </li>
            <li class="">
                <a href="#assignment_type_distribution_intl" role="tab" data-toggle="tab">International</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="assignment_type_distribution_US" class="tab-pane fade in active" role="tabpanel"></div>
            <div id="assignment_type_distribution_intl" class="tab-pane fade" role="tabpanel"></div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active">
                <a>US</a>
            </li>
            <li class="">
                <a>International</a>
            </li>
        </ul>
        <div id="true_and_predicted_age_gender_distribution"></div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active">
                <a>US</a>
            </li>
            <li class="">
                <a>International</a>
            </li>
        </ul>
        <div id="lambda_graph"></div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active">
                <a>US</a>
            </li>
            <li class="">
                <a>International</a>
            </li>
        </ul>
        <div id="accuracy_graph"></div>
    </div>
</div>


<script type="text/javascript">


    var dataValues = @Html.Raw(Json.Encode(Model));

    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(function () { drawPredictedGenderDistribution(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawPredictedAgeDistribution(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawNumberOfNonZeroCoefficients(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawAssignmentTypeDistribution(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawTrueAndPredictedAgeGenderDistribution(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawLambda(dataValues, 'US'); });
    google.setOnLoadCallback(function () { drawAccuracy(dataValues, 'US'); });


</script>