@model IEnumerable<StatsPortal.Models.SKModel>

@{
    ViewBag.Title = "SK";
}

@Scripts.Render("~/bundles/sk")

<div class="col-lg-6">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active">
                <a>US</a>
            </li>
            <li class="">
                <a>International</a>
            </li>
        </ul>
        <div id="predicted_gender"></div>
    </div>
</div>


<script type="text/javascript">


    var dataValues = @Html.Raw(Json.Encode(Model));

    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(function () { drawPredictedGenderDistribution(dataValues, 'US'); });

</script>