@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "NotFound";
}

<div class="list-group">
    <div class="alert alert-danger">
        Page Not Found!! Please make sure you typed in the correct URL or navigate to a different page from the menu.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>


