@model IEnumerable<String>
@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{

    <h2>Visualization Menu</h2>
    <ul>
        @foreach (var domainName in Model)
        {
            <li>@Html.ActionLink(domainName + " Matching Stats.", "LinkedinMatching", new { @domain = domainName })</li>
        }
        <li><a href="http://localhost:49751/Snippet/Snippet">Snippet Stats</a></li>
    </ul>
}


