@model IEnumerable<StatsPortal.Models.MatchingStats>

@{
    ViewBag.Title = "Matching";
}


<div class="jumbotron">
    <h3>@Model.First().Domain Matching</h3>

    <div id="visualization">
    </div>
    <hr />
    <div id="regions_div"></div>
</div>

<script type="text/javascript">
    var dataValues = @Html.Raw(Json.Encode(Model));
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    google.setOnLoadCallback(function () {drawChart(dataValues)});

    google.load("visualization", "1", { packages: ["geochart"] });
    google.setOnLoadCallback(drawRegionsMap);
</script>
