.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 250px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 250px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
    background-color: #eee;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
    list-style-type: none;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 20px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 20px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

.sub-menu {
    padding: 0;
}

.panel {
    padding-left: 10px;
    padding-right: 20px;
    border-style: solid;
    border-width: 2px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
}

h6 {
    font-weight: bold;
    padding: 3px;
    font-size: 14px;
}



.padding-top-15 {
    padding-top: 15px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.nav-sidebar {
    /*background-color: #F8F8F8;*/
}

#snippet_combo_chart, #snippet_keyword_chart, #snippet_keyword_chart_percent {
    min-height: 400px;
    min-width: 400px;
}

#snippet_line_chart {
    min-width: 900px;
    min-height: 400px;
}

#snippet_nav_wrapper {
    width: 18%;
    position: fixed;
    top: -1px;
    right: -1px;
    z-index: 11;
}

#toggle_snippet_nav {
    position: absolute;
    top: -50px;
    right: 10%;
    /*height: 1%;*/
    text-align: right;
    z-index: 10;
}

#snippet_nav {
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    min-width: 150px;
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #5a5a5a;
}

#toggle_snippet_in_menu {
    width: 100%;
    height: 10px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #5a5a5a;
    z-index: 12;
    color: #f2f2f2;
    height: 15px;
    font-size: 10px;
    padding-top: 3px;
}

#keyword_line_toggle {
    width: 20%;
    position: absolute;
    bottom: 5%;
    right: 3%;
    text-align: right;
    z-index: 12;
}

#toggle_keyword_line_nav {
    position: relative;
    bottom: 10px;
}

.padding-right {
    padding-right: 5px;
}
#snippet_keyword_list {
    overflow: auto;
    max-height: 400px;
}

#keyword_toolbar_wrapper {
    width: 100%;
    text-align: right;
}

#keyword_toolbar_container {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    width: 100%;
    position: relative;
    bottom: 10px;
    display: none;
}


#populate_wrapper {
    padding-left: 0;
    padding-top: 10px;
}

#keyword_counts_container {
    text-align: right;
}



#keyword_counts_container label {
    margin-left: 25px;
}