body {
}

.ui-datepicker {

    border: 1.5px solid #aeaeae;

}

.ui-datepicker-calendar, .ui-datepicker-header {
    background-color: #f9f9f9;
    padding: 5px;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
    font-weight: bold;
}

.ui-datepicker-calendar * {
    text-align: center;
    padding: 3px; 
}

#global_toggle {
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: -5%;
    margin-bottom: 20px;
}

#prev_confusion_matrix_US table, #prev_confusion_matrix_US th, #prev_confusion_matrix_US tr, #prev_confusion_matrix_US td, 
#prev_confusion_matrix_intl table, #prev_confusion_matrix_intl th, #prev_confusion_matrix_intl tr, #prev_confusion_matrix_intl td,
#current_confusion_matrix_US table, #current_confusion_matrix_US th, #current_confusion_matrix_US tr, #current_confusion_matrix_US td, 
#current_confusion_matrix_intl table, #current_confusion_matrix_intl th, #current_confusion_matrix_intl tr, #current_confusion_matrix_intl td {
    text-align: center;
}

h5 {
    margin: 30px 0px 30px 50px;
}
